.main-edu{
    .edu{
        width: 80%; 
        margin: 0 auto;
        padding: 50px 10px;
     
      
    }
    .edu-card{
        display: flex;
        justify-content:space-evenly;
    }
    @media only screen and (max-width: 768px) {
        .edu-card{
            flex-direction: column;
            align-content: space-evenly;
            
     }
      }
       
    
}