.feild-sec{
    width: 50%;
    margin:20px auto;
}
.from-btn{
    width: 50%;
    margin:20px auto;
}
.input-feild{
    width: 100%;
    padding: 10px;
    border: 0;
    padding:10px 20px;
    border-radius: 25px;
    font-family: "Assistant", sans-serif;
  font-family: "Rajdhani", sans-serif;
}
.input-feild:active,
.input-feild:focus,
.text-feild:active,
.text-feild:focus,
.btn-comp:active,
.btn-comp:focus{
    border: 0;
    outline: 0;
}
.text-feild{
    width: 100%;
    padding: 20px;
    border: 0;
    border-radius: 25px;
    font-family: "Assistant", sans-serif;
  font-family: "Rajdhani", sans-serif;
}
.btn-comp{
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 25px;
    background-color: #2AF18E;
    font-family: "Assistant", sans-serif;
  font-family: "Rajdhani", sans-serif;
}
@media only screen and (max-width:600px){
    .feild-sec,.from-btn{
        width: 80%;
        
    }
    
}