.main-contact{
    .contact{
        width: 98%;
        margin: 0px auto;
        padding: 30px 10px;
        max-width: 1440px;
    }
    .contact-feild{
      padding-bottom: 30px;
    }
   .sec-contact{
 display: flex;
 justify-content: space-between;
   }
  
   .cal-sec{
    border: none;
    border-radius: 5px;
    color: white;
   padding: 8px 12px;
   
   }
   .cal-sec span{ 
    padding-left:  10px;
    color: #fff;
   }
    @media (max-width:600px) {
      
           .resclass{
            margin:0 auto;
           }
    }
}