.main-contact{
    .contact{
        width: 80%;
        margin: 0px auto;
        padding: 50px 10px;
    
    }
   .sec-contact{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
   }
   .cal-sec{
    border: none;
   background-color: #e6ecec;
   }
   .cal-sec span{ 
    padding: 0 10px;
   }
    
}