.Main-header{
    position: fixed;
    width: 100%;
    background-color:  #646464;
   
    z-index: 1000;
    .Header{
    width:100% ;
    margin: 0 auto;
    color: white;
    }
    .navbar-toggler{
        width: 47px;
        height: 34px;
        background-color: transparent;
        border:none;
    }
    .navbar-toggler .line{
        width: 100%;
        float: left;
        height: 2px;
        background-color: #fff;
        margin:2px;
    }
    a{
        color: white;
        font-family: "Assistant", sans-serif;
        font-family: "Rajdhani", sans-serif;
        font-size: 20px;
        
        
    }
    .protfolio-text{
      font-size: 28px;
      margin-right: 20px;
      display: flex;
      padding-left: 90px ;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      letter-spacing: 2px;
      font-family: 'Satisfy', cursive;
    }
    .protfolio-text span{
      color: #63CBEB;

      
    }
    .nav-item{
      padding-left: 45px;
      padding-right: 20px;
    }
    button:active,button:focus{
      border: 0;
      outline: 0;
    }
    @media (max-width:768px) {
      .nav-item{padding: 0;}
      .protfolio-text{padding: 0;
      }
    }
    
}


  .visible {
    /* display: flex; */
    top: 0;
    transition: top 0.4s ease-out;
  }
  
  .hidden {
    /* display: none; */
    top: -80px;
    opacity: 0;
    transition: top 0.4s ease-out;
  }
