.main-skill{
    .skill{
        width: 80%;
        margin: 0 auto;
        padding: 50px 10px;
       
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
        padding: 10px;
        @media(max-width:768px){
          grid-template-columns: auto;
        }
      }
      
      .item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        box-shadow: 5px 10px #888888;
        border-radius: 30px;
      }
      .progress{
        height: 20px;
        width: 90%;
     
      }
      #html{
        animation-name: html;
        animation-duration: 4s;
      }
      #css{
        animation-name: css;
        animation-duration: 4s;
      }
       #bs{
        animation-name: bs;
        animation-duration: 4s;
      }
       #js{
        animation-name: js;
        animation-duration: 4s;
      }
      
      #ts{
        animation-name: ts;
        animation-duration: 4s;
      }
      @keyframes html {
        from {
        width:0%}
        to {
        width:80%
        }
      }
      @keyframes css {
        from {
        width:0%}
        to {
        width:75%
        }
      }
      @keyframes bs {
        from {
        width:0%}
        to {
        width:80%
        }
      }
      @keyframes js {
        from {
        width:0%}
        to {
        width:70%
        }
      }
      @keyframes ts {
        from {
        width:0%}
        to {
        width:65%
        }
      }
}