@font-face {
  font-family: 'OpenSans-Bold';
  font-weight: 700;
  src: url('../public/fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'OpenSans-Bold-Italic';
  font-weight: 700;
  src: url('../public/fonts/OpenSans-BoldItalic.ttf');
}
@font-face {
  font-family: 'OpenSans-Medium';
  font-weight: 500;
  src: url('../public/fonts/OpenSans-Medium.ttf');
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../public/fonts/OpenSans-Light.ttf');
}