.main-hero {

  .hero {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
   
  }
  .hero-sidebar {
    padding: 120px 0px 20px 0px;
    width: 300px;
    position: fixed;
    height: 100%;
    overflow:auto;
    background-color:  #646464;;
    color: white;
   @media (max-width:768px) {
    display: none;
    
   }
  }
  .profile-img ,.img-set{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 100%;
 
  }
.myimg{
border-radius: 100%;
height: 145px;
width: 145px;

}
  .detail-sec {
    margin-top: 70px;
    width: 100%;
    margin-left: 300px;
    
  }
  
@media only screen and (max-width:768px){
  .hero {
    flex-direction: column;
    width: 100%;
    margin: auto;
  
  }
  .hero-sidebar {
 position: static;
 width: 100%;
 
  }
  .detail-sec {
    margin: 0px;
    padding: 0px;
    
  }
  .profile-img {
   margin: auto;
 
  }
  
}
  
}
